<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>¡Bienvenido!</h1>
    <p>Probando codigo con FLASK.</p>

    <button id="clickMe">Click!</button>
    <p id="result"></p>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
